{% extends "layout-debranded.html" %}

{% block page_title %}
  Develop land and property - Alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        About the development
      </h1>
    </div>
  </div>

  <div class="grid-row"> 
    <div class="column-two-thirds">

      <p class="lede">Public content about the development (estate).</p>


      <p>These pages show how we could publish all the information we know about an estate.  Where it is, who is developing it, what it consists of - plots/properties.  What 'state' those plots/properties are in...  Be as transparent as possible.</p>

      <p>Although not yet shown, we should think of these pages as being capable of showing everything government knows about the estate/plots/properties.  For example there must be a public document about planning permission.</p>

      <p>These pages are created upon the first plans check.  They exist for as long as the 'thing' exsits.  So for example a plot (new title) goes on to become a property, a property/title lasts (usually) for hundreds of years.  Thus this is logically the birth of a property/new title, and goes on to become the 'page per property'/the title register.  However a develpment lasts until all the plots/properties are sold, and the remaining common areas like roads and spaces goes to the council.  So after the last plot is sold and the estate disposed of, the development page(s) no longer exist</p>

      <p>Here we show some of the variation of the public pages in that life cycle</p>

      <h2 class="heading-large">Example situations, told via prototypes<span class="heading-secondary">Version 1, Wed, 9th May</span></h2>

      <p>
        <ul class="list-bullet">
          <li>I'm a developer and i've just had the first version of my plans checked - <a href="public-content-pages/initial-estate-plan">what does a registrable estate look like after first check?</a></li>
          <li>I'm a developer and i've just had the first version of my plans checked - and there is a problem with a plot - <a href="public-content-pages/initial-estate-plan">what does a registrable estate look like after first check?</a></li>
        </ul>
      </p>

      <p>
        <ul class="list-bullet">
          <li>I'm a prospective home buyer and <a href="public-content-pages/google/">I've googled Westway Homes</a> because i just drove by it.  (Also I've googled it because i live nearby and i want to know whats going on)</li>
          <li>I'm a prospective home buyer and <a href="public-content-pages/google/">I've googled 14 Gardinia Way PL1 2HB</a> because I'm considering buying it (also - i've moved into no 12 and i want to know whats happening with no 14 because I'm worried about...</li>
        </ul>
      </p>


      <hr>
      
      <h2 class="heading-large">Feedback - yes please</h2>    
      <p><a href="mailto:newbuildsresearch@landregistry.gov.uk?Subject=Prototype - public estate and plots content" target="_top">email us your feedback</a></p>


    </div>

<!--     <div class="column-one-third">

      <div class="supplementary-panel">

        <h2 class="heading-medium">Made from</h2>
        <ul class="list-bullet">
          <li><span class="bold"><a href="check-my-plans/initial-check">Check my estate plan</a></span> - version 1
          </li>
        </ul>

      </div>   -->
      <!-- end panel -->

    </div>  <!-- end column third -->

  </div>
</main>

{% endblock %}


