<script src="{{ asset_path }}javascripts/govuk-template.js?0.22.3"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119764094-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  var USER_ID = GOVUK.cookie('ga_user_id'); // Get the user id stored in cookie.

  gtag('set', {'user_id': USER_ID}); // Set the user ID using signed-in user_id.  

  gtag('config', 'UA-119764094-1');
</script>

<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
<link  media="screen" rel="stylesheet" type="text/css" href="/public/stylesheets/debranded.css"/>
<link rel="stylesheet" type="text/css" href="/public/stylesheets/shame.css">
