{% extends "../../../layout.html" %}

{% block page_title %}
  Check housing development plan
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row"> 
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Check housing development plan
      </h1>

      <p>Use this service to:</p>

      <ul class="list list-bullet">
        <li>check the boundary of the estate, to see if you own all the land</li>
        <li>check all plots to see if any would be unregistrable</li>
        <li>be notified of any problems will registration of a property</li>
      </ul>

      <p>
        <a class="button button-start" href="02-digital-layout" role="button">Start now</a>
      </p>


      <h2 class="heading-medium">Before you start</h2>
      <p>You will need:</p>
      <p>
        <ul class="list-bullet">
          <li>to be developing ten or more properties</li>
          <li>a digital estate layout</li>
          <li>precedent deeds you intend to apply</li>
        </ul>
      </p>


      <h2 class="heading-medium">Other ways to apply</h2>
      <p>
        If you don't have digital layout data, you can apply by post, or by email
      </p>


    </div>

<!--     <div class="column-one-third">

      <div class="supplementary-panel">

        <h2 class="heading-medium collapse-top">What's new here?</h2>

        <h3 class="heading-small">Adding this week (30th Apr to 4th May) - work in progress</h3>
        <p>First draft of this site - Writing down the user journeys, Adding all existing pdf prototypes and making a first version of screens for journeys with no existing screens</p>

        <h4 class="heading-small">Added</h4>
        <ul class="list-bullet">
          <li>journey abc</li>
        </ul>

      </div>   -->
      <!-- end panel -->

    </div>  <!-- end column third -->

  </div>
</main>

{% endblock %}


