{% extends "../../../layout.html" %}

{% block page_title %}
  Check housing development plan
{% endblock %}

{% block service_name %}
  Check housing development plan
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="" method="get" class="form">

        <h1 class="heading-xlarge">
          Upload CAD files
        </h1>

        <p>
          words, textbox, and browse button
        </p>


        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
