{% extends "../../../layout.html" %}

{% block page_title %}
  Check housing development plan
{% endblock %}

{% block service_name %}
  Check housing development plan
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

    

      <h1 class="heading-xlarge">
        Sorry, you can't use this service.
      </h1>

      <p>
        send your non CAD files to.... us by post, email, etc
      </p>


    </div>
  </div>
</main>
{% endblock %}
