{% extends "../../../layout.html" %}

{% block page_title %}
  Check housing development plan
{% endblock %}

{% block service_name %}
  Check housing development plan
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/check-my-plans/initial-check/v1/10-check-answers" method="get" class="form">

        <h1 class="heading-xlarge">
          Conveyancer name and address
        </h1>

        <p>We will publish the name and address of the conveyancer acting for the developer for this development</p>

        <div class="form-group">
          <label class="form-label" for="dev-name">Conveyancer name</label>
          <input class="form-control" id="dev-name" type="text" name="dev-name">
        </div>


        <div class="form-group">
          <label class="form-label" for="dev-address">
            Developer address
          </label>
          <textarea class="form-control form-control-3-4" name="dev-address" id="textarea" rows="5"></textarea>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>


    </div>
  </div>
</main>
{% endblock %}
