{% extends "../../layout.html" %}

{% block page_title %}
  Develop land and property - Alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        What is on gov.uk after i've had my intitial plan checked?
      </h1>
    </div>
  </div>

  <div class="grid-row"> 
    <div class="column-two-thirds">

      <p class="lede">What is published when a plan is first checked?</p>

      <p>
        <ul class="list-bullet">
          <li>development/estate page</li>
          <li>the development gets added to the list of developments</li>
          <li>the estate plan - the layout, precededent deeds, old title - anything related to the whole development</li>
          <li>each plot - a 'page per plot' (possibly be more than 1 page)</li>
        </ul>
      </p>


      <h2 class="heading-large">Prototypes</h2>

      <!-- <h3 class="heading-medium">Latest version - Version 1</h3> -->
      
<!--       <p>add link to pdf first version?</p> -->
      <p><span class="bold">Example: </span>Westway estate phase 2; plot 7</p>

      <p><a href="/public-content-pages/initial-estate-plan/v1/estate-list">HTML Version 1.0</a></p>
      <p><a href="/public-content-pages/initial-estate-plan/paper/">Paper 0.1</a></p>

      <hr>
      
      <h2 class="heading-large">Feedback - yes please</h2>    
      <p><a href="mailto:newbuildsresearch@landregistry.gov.uk?Subject=Prototype - public content about estates" target="_top">email us your feedback</a></p>


    </div>

    <div class="column-one-third">

<!--       <div class="supplementary-panel">
      </div>  --> 
      <!-- end panel -->

    </div>  <!-- end column third -->

  </div>
</main>

{% endblock %}


