{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Ready to complete on plot sale?
      </h1>

      <p class="lede">Use this service when you are ready to complete on the sale of:</p>

      <p>14 Gardinia Way (Plot 7)<br>Westway Estate<br>Plymouth<br>PL1 2HB</p></p>

      <p>As far as you are aware no changes that would affect the sale of the plot will now occur.</p>

      <p>If something changes you can later indicate you're no longer ready.</p>

      <p>
        <a class="button button-start" href="06-sign-in" role="button">Start now</a>
      </p>

    </div>
  </div>

</main>

{% endblock %}
