{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">

      <h2 class="heading-large">Westway Estate, Phase 2, North Plymouth, PL1 2HB</h2>

      <img src="/public/images/estateplan.png" alt="estate plan" style="width:929px;height:1331px;">

    </div>
  </div>

</main>

{% endblock %}
