{% extends "layout.html" %}

{% block page_title %}
  Westway Estate Phase 2
{% endblock %}

{% block service_name %}
  
{% endblock %}

{% block content %}
<main id="content" role="main">

	<div class="grid-row">
		<div class="column-full">
			<h1 class="heading-xlarge">
      	Developments
      </h1>
		</div>
	</div>

	<div class="grid-row">

		<div class="column-one-half">
      <form action="estate" method="get" class="form">
        <div class="form-group">
          <label class="heading-small" for="search">Find a development</label> <br />
          <input class="form-control" id="search" type="text" name="search">
          <input type="submit" class="button" value="Search">
        </div>
      </form>
		</div>

		<div class="column-one-half">
			<div class="form-group">
	  		<label class="form-label" for="filter-developer">Filter by developer</label>
			  <select class="form-control" id="filter-developer" name="filter-developer">
			    <option>select developer</option>
			    <option>Bellway Homes</option>
			    <option>Bovis Homes</option>
			    <option>Cavendish</option>
			    <option>Festival Housing</option>
			    <option>Sandersons Homes</option>
			    <option>Taylor Wimpey</option>
			  </select>
			</div>

			<div class="form-group">
	  		<label class="form-label" for="filter-county">Filter by county</label>
			  <select class="form-control" id="filter-county" name="filter-county">
			    <option>select county</option>
			    <option>Bedfordshire</option>
			    <option>Berkshire</option>
			    <option>City of Bristol</option>
			    <option>Buckinghamshire</option>
			    <option>Cheshire</option>
			    <option>Cornwall</option>
			    <option>Cumbria</option>
			    <option>Derbyshire</option>
			    <option>Devon</option>
			    <option>Dorset</option>
			  </select>
			</div>

		</div>
	</div>

	<div class="grid-row">
		<div class="column-full">

			<div class="estate-list">
				<h2 class="visually-hidden">Estate list</h2>
				<ul>
					<li class="estate-row">
						<div>
							<h3 class="heading-medium"><a href="estate">Sherford, Peacock, Peterborough, PE18</a></h3>					
							<div class="developer">
								<span>Taylor Wimpey</span>
							</div>
							<div class="date">
								<span>17 March 2018</span>
							</div>
						</div>
					</li>

					<li class="estate-row">
						<div>
							<h3 class="heading-medium"><a href="estate">Westway Estate, Phase 2, North Plymouth,PL1 2HB</a></h3>
							<div class="developer">
								<p>Sanderson Homes</p>
							</div>
							<div class="date">
								<p>20 February 2018</p>
							</div>
						</div>
					</li>

					<li class="estate-row">
						<div>
							<h3 class="heading-medium"><a href="estate">Gwel An Hay, Hay Common, Launceston, Cornwall</a></h3>
							<div class="developer">
								<p>Barratt Homes</p>
							</div>
							<div class="date">
								<p>03 February 2018</p>
							</div>
						</div>
					</li>

					<li class="estate-row">
						<div>
							<h3 class="heading-medium"><a href="estate">Coombe Park, Sheffield</a></h3>
							<div class="developer">
								<p>Persimmon</p>
							</div>
							<div class="date">
								<p>31 January 2018</p>
							</div>
						</div>
					</li>

					<li class="estate-row">
						<div>
							<h3 class="heading-medium"><a href="estate">Williams Gate, Chester</a></h3>
							<div class="developer">
								<p>Bovis Homes</p>
							</div>
							<div class="date">
								<p>27 January 2018</p>
							</div>
						</div>
					</li>

					<li class="estate-row">
						<div>
							<h3 class="heading-medium"><a href="estate">Franklin Gardens, Brighton</a></h3>
							<div class="developer">
								<p>Persimmon</p>
							</div>
							<div class="date">
								<p>16 January 2018</p>
							</div>
						</div>
					</li>

				</ul>
			</div>

		</div>
	</div>


  
</main>
{% endblock %}
