{% extends "layout.html" %}

{% block page_title %}
  Westway Estate Phase 2
{% endblock %}

{% block service_name %}
  
{% endblock %}

{% block content %}
<main id="content" role="main">

	<div class="grid-row">
		<div class="column-one-half">

			<div class="">
				<h1 class="heading-xlarge spacing-bottom-flush">
           14 Gardinia Way <span class="heading-medium" style="color: grey">(Plot 7)</span>
        </h1>
        <p class="heading-large spacing-top-half">Westway Estate Phase 2<br />North Plymouth <br/>
         PL1 2HB
        </p>

			</div>


			<div class="column-one-half spacing-left-flush">
				<h2 itemprop="name" class="heading-medium">Developer</h2>
				<div itemscope itemtype="http://schema.org/Organization">
					
					<span itemprop="name" class="bold">Sanderson Homes</span>
			  	<div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			    
				    <span class="address__line" itemprop="streetAddress">
				      Alston Towers
				    </span>
				    <span class="address__line" itemprop="streetAddress">
				      North Alerton
				    </span>			    
				    <span class="address__line" itemprop="addressLocality">Derby</span>
				    <span class="address__line" itemprop="postalCode">DB1 3NB</span>
				  </div>

  			</div>

			</div>

			<div class="column-one-half">
				<h2 itemprop="name" class="heading-medium">Conveyancer</h2>
				<div itemscope itemtype="http://schema.org/Organization">
					
 					<span itemprop="name" class="bold">Barrow &amp; Co Solicitors</span>
			  	<div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			    
				    <span class="address__line" itemprop="streetAddress">
				      23 Hyde Park
				    </span>         			    
				    <span class="address__line" itemprop="addressLocality">Plymouth</span>
				    <span class="address__line" itemprop="postalCode">PL3 2ED	</span>
				  </div>

  			</div>

			</div>

		</div>


		<div class="column-one-half">
			<div class="estate-location spacing-top-single">
				<img class="map" src="/public/images/estateplan7.jpg">
				<p style="text-align: right;">Plot 7, layout created from <a href="estate-plans">Estate Plan - 20 Feb 20</a></p>
			</div>
		</div>
		<!-- estate map -->
	</div>
	<!-- end first row -->

<!-- 	<div class="grid-row">
		<div class="column-two-thirds">

			<div class="registrability-panel">
				<div class="notice">
				  <i class="icon icon-important">
				    <span class="visually-hidden">Information</span>
				  </i>
				  <strong class="bold-small">
				    This plot plan is <span class="lozenge green">capable of registration</span>
				  </strong>
				</div>
			</div>

		</div>
	</div> -->

	<div class="grid-row">
	  <div class="column-two-thirds">

	    <h3 class="heading-medium">HM land Registry property checks</h3>

	    <div class="registrability-panel2">
				<div class="notice">
				  <i class="icon icon-important">
				    <span class="visually-hidden">Information</span>
				  </i>
				  <strong class="bold-small">
				    This plot is <span class="lozenge green">capable of registration</span>
				  </strong>
				</div>
			</div>

			<p>

	    <ul class="list list-bullet">
	      <li>Plot extent: OK</li>
	      <li>Survey: OK</li>
	      <li>No consent required</li>
	      <li>Power of attorney: OK</li>
	    </ul>
	   </p>

	  </div>
	</div>

	<div class="grid-row">
	  <div class="column-two-thirds">

			<h2 class="heading-medium">Draft title register</h2>
			<p>The title register is kept by the Government, as a legal record of ownership, rights and responsibilities.</p>
			<p>Upon sale of the property, the title register will record the new owner. The new owner will inherit the rights and responsibilities of the land.</p>
			<p><a href="provisional-title-register">The draft title register</a> can be seen at anytime (before sale), and cannot be changed once agreement to buy has occurred.</p>

		</div>


		<div class="column-one-third">

		</div>

	</div>
	<!-- end 2nd row -->
  
</main>
{% endblock %}
