{% extends "../layout.html" %}

{% block page_title %}
  Develop land and property - Alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        Check my development plan
      </h1>
    </div>
  </div>

  <div class="grid-row"> 
    <div class="column-two-thirds">

      <p class="lede">I'm a developer and I want to check my plans: to develop land into homes to sell.</p>


      <p>These prototypes show how we could take the plans a developer has, the estate layout drawings, and precedent deeds, other supporting documents and...</p>

      <p>Create provisional new titles - create the plot layout, draw up the register entries; determine if this title would be registrable; publish all this information, and inform the developer of any problems we foresee with registration</p>

      <!-- <p>This is about being transparent about everything we know - remove uncertainty for all interested parties - so they can make more informed decisions.</p> -->


      <h2 class="heading-large">Example situation, told via prototypes<span class="heading-secondary">Version 1, Wed, 2nd May</span></h2>

      <ol class="list-number">
        <li>I'm a developer and a want to <a href="check-my-plans/initial-check/v1/01-start">check my estate plans</a> wont result in unregistrable (unsaleable) plots/properties</li>
        <li>two days later, we've finished checking registrability of the plots/properties, and
          <ul class="list-bullet">
            <li><a href="">published pages for the estate and the plots</a></li>
            <li><a href="">notified the developer that a some plots are currently unregistrable</a></li>
          </ul>
        </li>
        <li>some time passes, and the developer <a href="check-my-plans/update-check/v1/01-start">submits a revised plan for the estate</a></li>
        <li>two days later, we've finished checking registrability of the plots, and
          <ul class="list-bullet">
            <li><a href="">updated pages for the estate and the plots</a></li>
            <li><a href="">notified the developer</a></li>
          </ul>
        </li>
      </ol>


      <hr>
      
      <h2 class="heading-large">Feedback - yes please</h2>    
      <p><a href="mailto:newbuildsresearch@landregistry.gov.uk?Subject=Prototype - check development plans service" target="_top">email us your feedback</a></p>


    </div>

    <div class="column-one-third">

      <div class="supplementary-panel">

        <h2 class="heading-medium">Made from</h2>
        <ul class="list-bullet">
          <li><span class="bold"><a href="check-my-plans/initial-check">Check my estate plan</a></span> - version 1
          </li>
          <li><span class="bold"><a href="check-my-plans/update-check">Update my estate plan</a></span> - version 1
          </li>
        </ul>

<!--         <h3 class="heading-small">Previous versions</h3>
        <p>non html protoypes</p>
        <ul class="list-bullet">
          <li><span class="bold">Check my estate plan</span>: no previous version</li>
          <li><span class="bold">Published pages, and notified the developer</span>: version 1
            <ul class="list-bullet">
              <li><a href="">'clickable' PDF</a></li>
              <li>shown to developers conveyancers</li>
              <li>shown to buyers conveyancers</li>             
            </ul>
          </li>
        </ul> -->
      </div>  <!-- end panel -->

    </div>  <!-- end column third -->

  </div>
</main>

{% endblock %}


