{% extends "../../../layout.html" %}

{% block page_title %}
  Check housing development plan
{% endblock %}

{% block service_name %}
  Check housing development plan
{% endblock %}



{% block content %}

<style type="text/css">

#deed_uploads {
  margin-top: 25px;
}

.preview {
  margin-top:15px;
}

</style>


<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">


      <h1 class="heading-xlarge">
        Upload precedent deeds
      </h1>
      <!-- Learn about this code on MDN: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file -->

      <h2 class="heading-medium">Current precedent deeds files</h2> 
      <p>{{ data['deed_uploads'] }}</p>

      <h2 class="heading-medium">Upload new deed file</h2>
      <form id="file-selector" method="get" enctype="multipart/form-data" action="/check-my-plans/update-check/v1/07-contact-email">
        <div>
          <label class="bold" for="deed_uploads">Choose files</label>
          <input type="file" id="deed_uploads" name="deed_uploads" multiple>
        </div>
        <div class="preview">
          <p>No new deeds currently selected for upload</p>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>
      </form>


    </div>
  </div>

<script>
var input = document.querySelector('input');
var preview = document.querySelector('.preview');

input.style.opacity = 100;input.addEventListener('change', updateImageDisplay);function updateImageDisplay() {
  while(preview.firstChild) {
    preview.removeChild(preview.firstChild);
  }

  var curFiles = input.files;
  if(curFiles.length === 0) {
    var para = document.createElement('p');
    para.textContent = 'No files currently selected for upload';
    preview.appendChild(para);
  } else {
    var list = document.createElement('ol');
    preview.appendChild(list);
    for(var i = 0; i < curFiles.length; i++) {
      var listItem = document.createElement('li');
      var para = document.createElement('p');

      para.textContent = curFiles[i].name + ', file size ' + returnFileSize(curFiles[i].size);
      listItem.appendChild(para);

      list.appendChild(listItem);
    }
  }
}


function returnFileSize(number) {
  if(number < 1024) {
    return number + 'bytes';
  } else if(number >= 1024 && number < 1048576) {
    return (number/1024).toFixed(1) + 'KB';
  } else if(number >= 1048576) {
    return (number/1048576).toFixed(1) + 'MB';
  }
}
</script>

</main>
{% endblock %}
