{% extends "../../../layout.html" %}

{% block page_title %}
  Check housing development plan
{% endblock %}

{% block service_name %}
  Check housing development plan
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/check-my-plans/initial-check/v1/05-upload-deeds" method="get" class="form">

        <h1 class="heading-xlarge">
          Do you have precedent deeds?
        </h1>

        <div class="form-group">
          <fieldset class="inline">

            <legend class="visuallyhidden">Do you have precedent deeds?</legend>

            <div class="multiple-choice">
              <input id="DeedTrue" type="radio" name="hasDeed" value="true">
              <label for="DeedTrue">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="DeedFalse" type="radio" name="hasDeed" value="false">
              <label for="DeedFalse">No</label>
            </div>

          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

      <div class="panel panel-border-narrow">
        <p>
          If you don't have precedent deeds yet, you can give them to us later
        </p>

        <p><a href="">Guidance for deeds, file format and content</a></p>
      </div>

    </div>
  </div>
</main>
{% endblock %}
