{% extends "../../../layout.html" %}

{% block page_title %}
  Check housing development plan
{% endblock %}

{% block service_name %}
  Check housing development plan
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

    

      <h1 class="heading-xlarge">
        Do you plan to have additional deeds later?
      </h1>

      <form id="file-selector" method="get" enctype="multipart/form-data" action="/check-my-plans/initial-check/v1/06-contact-email">

        <p>
          If you plan to apply new deeds before completion and final registration, you can supply them, to check for registrability, later.
        </p>

        <div class="form-group">
            <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
