{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">

  <div class="column-one-half">
    <h2 class="heading-large">14 Gardinia Way (Plot 7)</h2>

    <p>Westway Estate<br>Plymouth<br>PL1 2HB</p>
  </div>

  <div class="column-one-half estate-location">
    <img src="/public/images/estateplan7.jpg" alt="estate plan" style="width:420px;height:280px;">
    <p>Plot 7, layout created from <a href="05-estate-plan">Estate Plan - 20 Feb 2018</a>
  </div>
</div>

<div class="grid-row">

  <div class="column-one-half">
    <div class="notice">
      <i class="icon icon-important">
        <span class="visually-hidden">Warning</span>
      </i>
      <strong class="bold-small">
        <div class="lozange green">capable of registration</div>
      </strong>
    </div>
  </div>
</div>

<div class="grid-row">

  <div class="column-one-third">
    <h3 class="heading-medium">Buyer</h3>
    <h4 class="heading-small">Mr Trevor Pearson</h4>
    <p>35 Oxford Road<br>Plymouth<br>PL2 1RD</p>
  </div>

  <div class="column-one-third">
    <h3 class="heading-medium">Developer</h3>
    <h4 class="heading-small">Sanderson Homes</h4>
    <p>Alston Towers<br>North Alerton<br>Derby<br>DB1 3NB</p>
    <div class="lozange green">locked</div>
  </div>

</div>

<div class="grid-row">
  <div class="column-two-thirds">

    <h3 class="heading-medium">Agree to buy this property</h3>

    <p>
      <a class="button" href="04-confirmation" role="button">Agree to buy</a>
    </p>

  </div>
</div>





</main>

{% endblock %}
