{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge">
          You have agreed to buy 14 Gardinia Way
        </h1>
        <p class="font-large">
          Your reference number is <br>
          <strong class="bold">AB123CD</strong>
        </p>
      </div>

      <h2 class="heading-medium">What happens next</h2>
      <p>This property has been locked by both you and the seller.</p>

      <p>The lock will stay in place, protecting the property until the sale has
        completed, and you have been registered as the new owner.</p>

      <p>We will notify you when this occurs</p>
    </div>
  </div>




</main>

{% endblock %}
