{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">

    <div class="column-full" style="background-color:rgb(35, 151, 140)"><div >
      <h1 class="heading-xlarge" style="text-align:center;"><font color="white">You have agreed to buy 14 Gardinia Way</font></h1>
      <h2 class="heading-large" style="text-align:center;"><font color="white">Your reference number is</font></h2>
      <h2 class="heading-large" style="text-align:center;"><font color="white">AB123CD</font></h2>
    </div>

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large">What happens next?</h2>

      <p>This property has been locked by both you and the seller.</p>

      <p>The lock will stay in place, protecting the property until the sale
        has completed, and you have been registered as the new owner.</p>

      <p>We will notify you when this occurs</p>


    </div>
  </div>




</main>

{% endblock %}
