{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Buy a new build property
      </h1>

      <p class="lede">Use this service when you are ready to buy a property.</p>

      <p>By agreeing to buy you are indicating that you are purchasing this property.</p>

      <p>The seller has already applied their lock, saying they are ready for sale.</p>
      <p>The locks will stay in place until the sale has completed, and you have been registered as the new owner.</p>

      <p>You will be able to withdraw your agreement at any time.  If the seller has also agreed to sell the property they will be notified.</p>
      <p>
        <a class="button button-start" href="sign-in" role="button">Start now</a>
      </p>

    </div>
  </div>

</main>

{% endblock %}
