{% extends "../../../layout.html" %}

{% block page_title %}
  
{% endblock %}

{% block service_name %}
  
{% endblock %}

{% block content %}
<main id="content" role="main">

	<div class="grid-row">
		<div class="column-full">
			<h1 class="heading-xlarge">
	      Paper, idea - public pages
	    </h1>
	  </div>
	</div>

	<div class="grid-row">
		<div class="column-full">
			<img src="/public/images/paper-public-model.jpg">
			<p>paper model: estate list to estate page, development plans to plots</p>
		</div>
	</div>

	<div class="grid-row">
		<div class="column-one-quarter">
			<img src="/public/images/paper-estates.jpg">
			<p>estate list</p>
		</div>

		<div class="column-one-quarter">
			<img src="/public/images/paper-estate-page.jpg">
			<p>estate page</p>
		</div>

		<div class="column-one-quarter">
			<img src="/public/images/paper-plans.jpg">
			<p>plans list (and estate plan)</p>
		</div>

		<div class="column-one-quarter">
			<img src="/public/images/paper-plot-page.jpg">
			<p>plot page</p>
		</div>
	</div>
  
</main>
{% endblock %}
