{% extends "layout-debranded.html" %}

{% block page_title %}
  ** Hidden Page **
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        Hello! - test page
      </h1>
    </div>
  </div>

  <div class="grid-row"> 
    <div class="column-two-thirds">

      <p class="lede">
        <a href="/">
        Prototype home page
        </a>
      </p>


    </div>

    <div class="column-one-third">


    </div>  <!-- end column third -->

  </div>
</main>

{% endblock %}


