{% extends "../../../layout.html" %}

{% block page_title %}
  
{% endblock %}

{% block service_name %}
  
{% endblock %}

{% block content %}
<main id="content" role="main">

	<div class="grid-row">
		<div class="column-full">
			<h1 class="heading-xlarge">
      	Development plans
      </h1>
		</div>
	</div>

	<div class="grid-row">
		<div class="column-two-thirds">
			<h2 class="heading-large">
      	Estate plans
      </h2>
      <p><a href="estate-plans">Estate layout received by HM Land Registry 20 February 2018</a>.</p>
		</div>
	</div>


	<div class="grid-row">
		<div class="column-two-thirds">
			<h2 class="heading-large">
      	Plot plans
      </h2>
      <p>Created for the registration of new titles, from the estate layout of 20 February 2018.</p>
		</div>
	</div>

	<div class="grid-row">
		<div class="column-full">

			<table class="plot-list">
			  <thead>
			    <tr>
			      <th class="column-plot" scope="col">Plot</th>
			      <th class="column-address" scope="col">Address</th>
			      <th class="column-status" scope="col">Status</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			    	<th scope="row"><a href="">Plot 1</a></th>
			      <td>unknown</td>
			      <td>registrable</td>
			    </tr>
			    <tr>
			    	<th scope="row"><a href="">Plot 2</a></th>
			      <td>unknown</td>
			      <td>registrable</td>
			    </tr>
			    <tr>
			    	<th scope="row"><a href="">Plot 3</a></th>
			      <td>unknown</td>
			      <td>registrable</td>
			    </tr>
			    <tr>
			    	<th scope="row"><a href="">Plot 4</a></th>
			      <td>unknown</td>
			      <td>registrable</td>
			    </tr>
			    <tr>
			    	<th scope="row"><a href="">Plot 5</a></th>
			      <td>unknown</td>
			      <td>registrable</td>
			    </tr>
			    	<th scope="row"><a href="">Plot 6</a></th>
			      <td>unknown</td>
			      <td>registrable</td>
			    </tr>
			    <tr>
			    	<th scope="row"><a href="plot">Plot 7</a></th>
			      <td>unknown</td>
			      <td>registrable</td>
			    </tr>
			    <tr>
			    	<th scope="row"><a href="">Plot 8</a></th>
			      <td>unknown</td>
			      <td>registrable</td>
			    </tr>
			    <tr>
			    	<th scope="row"><a href="">Plot 9</a></th>
			      <td>unknown</td>
			      <td>registrable</td>
			    </tr>
			    <tr>
			    	<th scope="row"><a href="">Plot 10</a></th>
			      <td>unknown</td>
			      <td>registrable</td>
			    </tr>

			  </tbody>
			</table>

		</div>		
	</div>


  
</main>
{% endblock %}
