{% extends "../../../layout.html" %}

{% block page_title %}
  Westway Estate Phase 2
{% endblock %}

{% block service_name %}
  
{% endblock %}

{% block content %}
<main id="content" role="main">

	<div class="grid-row">
		<div class="column-two-thirds">

			<div class="">
				<h1 class="heading-xlarge spacing-bottom-flush">
           Westway Estate Phase 2
        </h1>
        <p class="heading-large spacing-top-flush">North Plymouth <br/>
         PL1 2HB
        </p>

			</div>


			<div class="column-one-half spacing-left-flush">
				<h2 itemprop="name" class="heading-medium">Developer</h2>
				<div itemscope itemtype="http://schema.org/Organization">
					
					<span itemprop="name" class="bold">Sanderson Homes</span>
			  	<div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			    
				    <span class="address__line" itemprop="streetAddress">
				      Alston Towers
				    </span>
				    <span class="address__line" itemprop="streetAddress">
				      North Alerton
				    </span>			    
				    <span class="address__line" itemprop="addressLocality">Derby</span>
				    <span class="address__line" itemprop="postalCode">DB1 3NB</span>
				  </div>

  			</div>

			</div>

			<div class="column-one-half">
				<h2 itemprop="name" class="heading-medium">Conveyancer</h2>
				<div itemscope itemtype="http://schema.org/Organization">
					
 					<span itemprop="name" class="bold">Barrow &amp; Co Solicitors</span>
			  	<div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			    
				    <span class="address__line" itemprop="streetAddress">
				      23 Hyde Park
				    </span>         			    
				    <span class="address__line" itemprop="addressLocality">Plymouth</span>
				    <span class="address__line" itemprop="postalCode">PL3 2ED	</span>
				  </div>

  			</div>

			</div>

		</div>


		<div class="column-one-third">
			<div class="estate-location spacing-top-single">
				<img class="map" src="/public/images/westway-estate.png">
			</div>
		</div>
		<!-- estate map -->
	</div>
	<!-- end first row -->

	<div class="grid-row">
		<div class="column-two-thirds">
			<h2 class="heading-large">Development Plans</h2>
			<p>View the <a href="development-plans">plans of the development submitted by the developer, and the generated plot layouts</a>.</p>

		</div>


		<div class="column-one-third">

		</div>

	</div>
	<!-- end 2nd row -->
  
</main>
{% endblock %}
