{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h2 class="heading-large">Developments</h2>

  <div class="grid-row">
    <div class="column-one-half">

      <div class="form-group">
        <label class="form-label" for="developments">Find a development</label>
        <input class="form-control" id="developments" type="text" name="developments">

        <a class="button" href="***" role="button">Search</a>
      </div>

    </div>

    <div class="column-one-half">

      <div class="form-group" align='right'>
        <label class="form-label" for="select-box">Filter by developer</label>
          <select class="form-control" id="select-box" name="select-box">
            <option>developers</option>
          </select>

          <p></p>

        <label class="form-label" for="select-box">Filter by county</label>
          <select class="form-control" id="select-box" name="select-box">
            <option>counties</option>
          </select>
      </div>
    </div>

    <div class="column-full">

      <div class="form-group">
        <table>
          <tbody>
            <tr>
              <td><p><a href="***">Sherford, Peacock, Peterborough, PE18</a></p>
              <p>Taylor Wimpey</p></td>
              <td>17 March 2018</td>
            </tr>
            <tr>
              <td><p><a href="02-estate-view">Westway Estate, Phase 2, North Plymouth, PL1 2HB</a></p>
              <p>Sanderson Homes</p></td>
              <td>20 February March 2018</td>
            </tr>
            <tr>
              <td><p><a href="***">Gwel An Hay, Hay Common, Launceston, Cornwall</a></p>
              <p>Barrett</p></td>
              <td>03 February 2018</td>
            </tr>
            <tr>
              <td><p><a href="***">Coombe Park, Sheffield</a></p>
              <p>Persimmon</p></td>
              <td>31 January 2018</td>
            </tr>
            <tr>
              <td><p><a href="***">Williams Gate, Chester</a></p>
              <p>Bovis Homes</p></td>
              <td>27 January 2018</td>
            </tr>
            <tr>
              <td><p><a href="***">Franklin Gardens, Brighton</a></p>
              <p>Persimmon</p></td>
              <td>16 January 2018</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>

</main>

{% endblock %}
