{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">

  <div class="column-one-half">
    <h2 class="heading-large">14 Gardinia Way (Plot 7)</h2>

    <p>Westway Estate<br>Plymouth<br>PL1 2HB</p>
  </div>

  <div class="column-one-half estate-location">
    <img src="/public/images/estateplan7.jpg" alt="estate plan" style="width:420px;height:280px;">
    <p>Plot 7, layout created from <a href="09-estate-plan">Estate Plan - 20 Feb 2018</a>

  </div>
</div>

<div class="grid-row">

  <div class="column-one-half">
    <div class="notice">
      <i class="icon icon-important">
        <span class="visually-hidden">Warning</span>
      </i>
      <strong class="bold-small">
        <div class="lozange green">capable of registration</div>
      </strong>
    </div>
  </div>
</div>


<div class="grid-row">

  <div class="column-one-third">
    <h3 class="heading-medium">Buyer</h3>
    <h4 class="heading-small">Mr Trevor Pearson</h4>
    <p>35 Oxford Road<br>Plymouth<br>PL2 1RD</p>
  </div>

  <div class="column-one-third">
    <h3 class="heading-medium">Developer</h3>
    <h4 class="heading-small">Sanderson Homes</h4>
    <p>Alston Towers<br>North Alerton<br>Derby<br>DB1 3NB</p>
  </div>

</div>

<div class="grid-row">
  <div class="column-two-thirds">

    <h3 class="heading-medium">Agree this property is ready for sale</h3>

    <a href="05-sell-new-build">Make this property ready for sale</a>

  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">

    <h3 class="heading-medium">Draft title register</h3>

    <p>The title register is kept by the Government, as a legal record of
      ownership, rights and responsibilities.</p>

    <p>Upon sale of the property, the title register will record the new owner.
      The new owner will inherit the rights and responsibilities of the land. </p>

    <p><a href="10-">The draft title register</a> can be seen at anytime (before sale), and cannot
      be changed once agreement to buy has occurred.</p>
  </div>
</div>



</main>

{% endblock %}
