{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Sell my new build property
      </h1>

      <p class="lede">Use this service when you are ready to sell a property.</p>

      <p>By applying a lock, you are committing to making no more changes to the plot.</p>

      <p>A buyer will also need to commit to the purchase of the property, by adding their own lock.</p>

      <p>The locks will stay in place until the sale has completed, and the new owner has been registered.</p>

      <p>You will be able to remove your lock.  If there is also a buyer’s lock, they will be notified.</p>
      <p>
        <a class="button button-start" href="06-sign-in" role="button">Start now</a>
      </p>

    </div>
  </div>

</main>

{% endblock %}
