{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

	 	<h1 class="heading-xlarge">
	    	I want to develop land or property - Alpha
	  	</h1>
	  	<p>
	    	Protoypes of, and thinking about, Services and User Journeys for Developing, selling, and buying 'new build' homes in England and Wales.
	  	</p>


      	<h2 class="heading-medium">Developing land</h2>

      	<p>I'm a developer and i want to check my plans to develop land into homes for sale.</p>


      	<h2 class="heading-medium">Selling properties</h2>

      	<p>I'm a developer and i'm ready to sell properties</p>


      	<h2 class="heading-medium">Buying a property - making my mind up</h2>

      	<p>I'm a buyer and i'm considering properties</p>


      	<h2 class="heading-medium">Buying a property - commiting</h2>

      	<p>I'm a buyer and i'm ready to buy a property</p>




		<h2 class="heading-medium">Adding to this protoype</h2>
		<p>Made from v6.3 of the gov.uk protoype kit: <a href="index-old">full instuctions on kit use</a>
		<p>



    </div>
  </div>
</main>

{% endblock %}


