{% extends "layout.html" %}

{% block page_title %}
  Develop land and property - Alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
          I want to develop land or property - Alpha
      </h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p class="lede">Prototypes of, and thinking about: Services and User Journeys for developing, selling, and buying 'new build' homes in England and Wales.
      </p>

      <p>Exploring concepts of what could be. Making examples to provoke conversations about high level ideas of what could be done, and what can't/shouldn't be.</p>

      <p>This is a wide look, across many things, not a deep dive into any particular service/solution</p>


      <!-- developers and their conveyancers - grey sub heading -->
      <h2 class="heading-medium">Developing properties</h2>

      <p><a href="check-my-plans">I'm a developer and I want to check my plans</a> to develop land into homes to sell.</p>

      <p>I'm a developer and I've updated my plans for the development/properties I'm building.</p>


      <h2 class="heading-medium">Developing properties - is everything ok</h2>

      <p>I'm a developer and I want to be notified if something is a problem</p>


      <h2 class="heading-medium">Selling properties</h2>

      <p><a href="ready-to-sell/v2/01-developer-list">I'm a developer and I'm ready to sell properties</a></p>

      <li><a href="ready-to-sell/">ready to sell - version history</a></li>


      <!-- buyers and their conveyancers - grey sub heading? -->
      <h2 class="heading-medium">Buying a property - making my mind up</h2>

      <p>I'm a buyer and I'm considering properties</p>

      <h2 class="heading-medium">Buying a property - is everything ok</h2>

      <p>I'm a buyer and I want to be notified if something changes</p>


      <h2 class="heading-medium">Buying a property - Ready to buy</h2>

      <p><a href="ready-to-buy/v1/01-start-page">I'm a buyer and i'm ready to buy a property</a></p>


      <h2 class="heading-medium">HM Land Registry - what do we do</h2>

      <p>Will a development plan/the development result in registrable properties?</p>


      <h2 class="heading-medium">Public content published</h2>

      <p><a href="public-content-pages">'Googleable' and browseable content about estates on gov.uk</a></p>


      <h2 class="heading-medium">Notifications</h2>

      <p><a href="notifications">Notifying people of significant events</p>

      

      <hr>

      <h2 class="heading-large">Feedback - yes please</h2>
      <p><a href="mailto:newbuildsresearch@landregistry.gov.uk?Subject=Prototypes feedback" target="_top">email us your feedback</a></p>


      <hr>

      <h2 class="heading-small">Adding to this protoype</h2>
      <p>Speak to Develop land and property team</p>
      <p>Made from v6.3 of the gov.uk protoype kit: <a href="index-original">full instuctions of kit use</a>
      <p>

    </div>

    <div class="column-one-third">

      <div class="supplementary-panel">

        <h2 class="heading-medium collapse-top">What's new here?</h2>

        <h3 class="heading-small">Added this week (30th Apr to 11th May)</h3
        <ul class="list-bullet">
          <li><a href="/check-my-plans">I'm a developer and i want to check my plans</a> example situation completed</li>
          <li><a href="ready-to-sell/v2/01-developer-list">I'm a developer and I'm ready to sell properties</a></li>
          
          <li><a href="/public-content-pages">'Googleable' &amp; browseable public content</a> (V1, plan checks ok)</li>
          <li><a href="/check-my-plans/initial-check">Check my estate plans</a> V1 (we've never shown this before)</li>
          <li><a href="/check-my-plans/update-check">Check my updated plans</a> V1 (we've never shown this before)</li>
          <li><a href="/notifications">Notifications</a></li>
        </ul>


        <h3 class="heading-small">Earlier updates and additions</h3>
        <details>

          <summary><span class="summary">previous weeks</span></summary>

          <div class="panel panel-border-narrow">

            <h4 class="heading-small">23rd Apr to 27th Apr</h4>
            <ul class="list-bullet">
              <li>journey def</li>
            </ul>

            <h4 class="heading-small">16th Apr to 20th Apr</h4>
            <ul class="list-bullet">
              <li>journey xyz</li>
            </ul>

          </div>

        </details>
      </div>  <!-- end panel -->

    </div>  <!-- end column third -->

  </div>
</main>

{% endblock %}
