{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

	 	<h1 class="heading-xlarge">
	    	I want to develop land or property - Alpha
	  	</h1>
	  	<p>
	    	Protoypes of, and thinking about, Services and User Journeys for developing, selling, and buying 'new build' homes in England and Wales.
	  	</p>


      	<h2 class="heading-medium">Developing land</h2>

      	<p>I'm a developer and I want to check my plans to develop land into homes to sell.</p>
      	<p>I'm a developer and I've updated my plans for the development/properties I'm building.</p>


      	<h2 class="heading-medium">Selling properties</h2>

      	<p>I'm a developer and I'm ready to sell properties</p>


      	<h2 class="heading-medium">Buying a property - making my mind up</h2>

      	<p>I'm a buyer and I'm considering properties</p>


      	<h2 class="heading-medium">Buying a property - committing</h2>

      	<p>I'm a buyer and I'm ready to buy a property</p>

		<hr>

		<h2 class="heading-small">Adding to this protoype</h2>
		<p>Speak to Develop land and property team (find us on Sharepoint [internal organisation site])</p>
		<p>Made from v6.3 of the gov.uk protoype kit: <a href="index-original">full instuctions of kit use</a>
		<p>



    </div>
  </div>
</main>

{% endblock %}


