{% extends "layout-debranded.html" %}

{% block page_title %}
  Develop land and property - Alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
          I want to develop land or property - Alpha
      </h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p class="lede">Prototypes of, and thinking about: parts of the service journey for 'I want to develop and sell my new build plots'.
      </p>

<!--       <p>Exploring concepts of what could be. Making examples to provoke conversations about high level ideas of what could be done, and what can't/shouldn't be.</p>
 -->
      <p>Summary of where we are with that thinking/exploring/learning</p>


      <h2 class="heading-large">See the thing</h2>
      <h3 class="heading-small">Example data</h3>
      <p>Use <span class="bold">Westway Estate, Plot 7 (and plot 1)</span></p>

      <h3 class="heading-medium"><a href="public-content-pages/v2/estate-list">View estates</a></h3>
      <p>
        <ul class="list list-bullet">
            <li>finding and viewing digital plans for estates and plots</li>
            <li>is my plan ok?</li>
              <ul class="list list-bullet">
                <li>what's been checked, and whats left to do</li>
                <li>will there be problems with registering (selling) this?</li> 
              </ul>
        </ul>
      </p>

      <h3 class="heading-small">Beginning of 'I want to develop and sell new build plots'</h3>
      <p>
        <ul class="list list-bullet">
          <li><a href="check-my-plans/update-check/v1/01-start">submitting/updating plans</a></li>
          <li><a href="notifications/v1/plan-problem-plot">notifying people</a></li>
        </ul>
      </p>

      <h3 style="margin-top:60px;" class="heading-small">Beginning of 'I want to buy a new build property' (not this beta)</h3>
      <p>
        <ul class="list list-bullet">
          <li><a href="public-content-pages/google/a-01-google-home">findability - google</a></li>
          <li><a href="ready-to-buy/v1/01-start-page">use in transactional services?</a></li>
        </ul>
      </p>



      </div>  <!-- end panel -->

    </div>  <!-- end column third -->

  </div>
</main>

{% endblock %}
