{% extends "../layout.html" %}

{% block page_title %}
  Develop land and property - Alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        Ready to sell properties
      </h1>
    </div>
  </div>

  <div class="grid-row"> 
    <div class="column-two-thirds">

      <p class="lede">I'm a developer and I'm ready to sell properties...</p>


      <p>These prototypes show how the developer could indicate their readyness to sell - exchange, complete, transact, etc - to the buyer</p>

      <p>We think that it is useful to the developer to be able to see if there would be any problems registering this property/title before the sale/purchase transaction takes place.</p>

      <p>We think that it is useful to the purchase - buyers conveyancer (and others?) to be able to see if there would be any problems registering this property/title before the sale/purchase transaction takes place.</p>

      <!-- <p>This is about being transparent about everything we know - remove uncertainty for all interested parties - so they can make more informed decisions.</p> -->


      <h2 class="heading-large">Prototypes</h2>

      <ul class="list-bullet">
        <li><span class="bold">Version 2:</span> I'm a developer and a want to <a href="v2/01-developer-list">indicate i'm ready to sell</a> (there is nothing else i expect to do to this property/plot)</li>
        <li><span class="bold">Version 1:</span> I'm a developer and a want to <a href="v1/01-developer-list">'lock the plot'</a> (there is nothing else i expect to do to this property/plot)</li>
        
      </ul>


      <hr>
      
      <h2 class="heading-large">Feedback - yes please</h2>    
      <p><a href="mailto:newbuildsresearch@landregistry.gov.uk?Subject=Prototype - check development plans service" target="_top">email us your feedback</a></p>


    </div>

    <div class="column-one-third">

      <div class="supplementary-panel">

        <h2 class="heading-medium spacing-top-one-third">Alternative methods</h2>
        <p>There are other ways we could achieve these outcomes.  These prototypes are to stimulate conversation with conveyancers as to the concept and problems experienced in sales/purchases.</p>

      </div>  
      <!-- end panel -->

    </div>  <!-- end column third -->

  </div>
</main>

{% endblock %}


